
body {
	font: system-ui, sans-serif;
	font-size: 14px;
}

.row-full-height {
	height: 100vh;
}

.map {
	width: 100%;
	height: 100%;	
	background-color: #B4D9FB;
}

.thumbnail {
	width: 70px;
	height: 70px;
	object-fit: cover;
	display: block;
	border-radius: 10px;
}

#list-container {
	overflow: scroll;
}